*{
  font-family: 'epilogue', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container{
  margin: 0 auto;
  max-width: 1250px;
  width: 100%;
  padding: 0 25px;
}

$color-primary: #986dff;
$color-white: #ffffff;
$color-gray: #c6c6c6;
$bg-header: rgb(4, 6, 21, .7);
$bg-main: #030007;
$bg-secondary: #0c0b16;
$bg-border: #17161f;

body{
  background-color: $bg-main;
}
